.App {
  text-align: center;
  overflow: 'scroll';
}

.App-logo {
  height: 20vmin;
  position:absolute;
  z-index: 0;
  /*pointer-events: none;*/
}

@media only screen and (min-device-width: 485px) and (orientation: landscape){
  .align-selection{
    display: flex;
    margin-top: 25vh;
  }
  
  .align-language-select{
    display: flex;
    margin-bottom: 5px;
    margin-top: 2vh;
  }
  
  .error-message{
    margin-top: 20vh;
    padding: 10vh;
    color: navy;
    font-size: 2vw;
    position: relative;
    float: left;
    margin-left: -60vh;
  }
  .article-title{
    text-align: left;
    align-content: left;
    justify-content: left;
    font-size: 2vw;
    word-break: break-word;
  }

  .article-views, .article-rank{
      margin-top: 13.5px;
      font-size: 1.5vw;
      word-break: break-word;
  }

  .container-fluid{
    margin-left: -80vmin;
    width: inherit;
    margin-top: 25px;
    margin-bottom: 25px;
    z-index: 1;
  }
}

@media only screen and (max-device-width: 480px) and (orientation: portrait){
  .align-selection{
    display: inline-block;
    max-width: device-width;
  }
  .form-select{
    max-width: 115px;
    margin-left: -8vw;
  }
  .form-control{
    margin-top: 3.5vh;
    max-width: 145px;
    margin-left: -5vw;
  }
  .date-title{
    margin-bottom: 0;
  }
  .article-title, .article-views, .article-rank{
    font-size: 3.5vw;
    word-break: break-word;
  }
  .container-fluid{
    margin-left: -77vmin;
    width: inherit;
    margin-top: 25px;
    margin-bottom: 25px;
    z-index: 1;
  }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #909fba;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.align-selection{
  display: flex;
  margin-top: 25vh;
}

.align-language-select{
  display: flex;
  margin-bottom: 5px;
  margin-top: 5vh;
}

.error-message{
  margin-top: 20vh;
  padding: 10vh;
  color: navy;
  font-size: 2vw;
  position: relative;
  float: left;
  margin-left: -60vh;
}
