.views-day{
    margin-left: 5px;
    vertical-align: middle;
}

.blue-text{
    color: rgb(102, 102, 194);
    cursor: pointer;
}

.wiki-text, .error-text{
    display: inline-block;
    font-size: medium;
    text-align: center;
    margin-left: 50vmin;
    width: 90vmin;
}

.wiki-title{
    text-align: center;
}

.text-container{
    overflow: auto;
}