.form-control-lg{
    height: 5vmin;
    width: 40vmin;
    max-height: 2px;
    margin-left: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
}

.search-title{
    font-size: 2vmin;
}

.align-elements{
    display: flex;
    margin-top: 3.5vh;
    overflow-x: scroll;
}

.form{
    display: inline-block;
    vertical-align: middle;
}

.expand-row{
    width: 100vmin;
}

.submit-button-col{
    width: 10vmin;
}

.search-title{
    margin-left: 0;
}